body {
	padding: 0;
	margin: 0;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
    font-family: 'Vast Shadow', cursive;
    font-family: 'Allerta Stencil', sans-serif;
    
    font-family: 'Space Mono', monospace;
    font-family: 'Vast Shadow', cursive;
   

}


#header{
    background: url('../image/slide.jpg') no-repeat center / cover;  
    margin: 0 auto;
    padding-top: 20 px;
    border: black;
    max-height: 100%;
    
}


.title_collections {
   
   
    font-family: 'Vast shadow'; 

}
.title_collections a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 40 px;
    color:#fff;
    margin-right: 80px;
    letter-spacing: 0.1em;

}
.menu{
    font-family: monospace;
    display: flex;
    list-style-type: none;
}
.menu li a{
    font-family:monospace ;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    margin-right: 40px;
    letter-spacing: 00.1em;
}
.navigat{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo1 {
   
    position: left;
    margin-top: 100px;
    margin-left: 10px;
    z-index: 100;
    float:left; /* Выравнивание по левому краю */
    padding: 0px 20px 0px 0; /* Отступы вокруг картинки */
    float: right; /* Выравнивание по правому краю  */ 
    margin: 10px 0 10px 10px; /* Отступы вокруг картинки */
   }
	
   }
   .simpson img {
	border: none;		
    margin left:20px;
   
    		
}
 
.simpson a img {
	border: none;		
	margin: 20px;			
}
.container{
    align-items: center;
    margin: 0 auto; /*позиционирование по центру*/
    
}
.description {
	margin-top: 150px;
    justify-content: center;
    text-align: center;
    line-height: 20px;
}

.title-alco {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
	line-height: 5px;
}
.under-title{
 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 12px;
   letter-spacing: 0.3em;
   color: whitesmoke;
}
#section{
    background-color: gray;
    margin: 0 auto;
    padding: 0 px;
    border: black;
   
    display: flex; 
}
.gallery{
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin: 20%;
    size: 100%;
}